body{
    margin: 0;
    background: black;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 32px 96px;
    box-sizing: border-box;
}

.logo{
    transform: scale(1.3);
    display: block;
    outline: none;
    transform-origin: left;

}

#navbar-toggle{
    display: none;
}


#navbar-dropdown{
    display: flex;
    align-items: center;
}

#navbar-dropdown a{
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    margin: 0 16px;
    opacity: 0.6;
    font-weight: 300;
}

.active-link{
    opacity: 1 !important;
    font-size: 24px !important;
}

#navbar-dropdown p{
    padding: 8px 24px;
    background: #0041ff;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    border-radius: 32px;
    margin: 0 0 0 16px;
}

.light{
    width: 1800px;
    height: 1200px;
    background: radial-gradient(52.57% 52.57% at 50% 50%, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0) 72.4%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    display: block;
    left: -700px;
    top: -600px;
    border-radius: 50%;
    opacity: 0.8;
    z-index: -1;
}

main{
    width: 90%;
    margin: 0 auto;
    color: white;
}

.card{
    width: 32%;
    border-radius: 16px;
    padding: 24px 48px 24px;
    border: 1px solid white;
    box-sizing: border-box;
    background: rgba(255,255,255,.15);
    margin: 32px 16px 16px 0;
    color: white;
    transition: 250ms ease-in-out;
    min-width: 420px;
}

.card-description{
    margin-bottom: 8px;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 250ms ease-in-out;
}

.active-holder{
    max-height: 2000px;
    opacity: 1;
}

.details{
    color: #5981fa;
    margin-top: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.details:hover{
    color: #1c54fd;
    text-shadow: 2px 2px 2px rgba(255,255,255,.05);
}

.card-heading{
    display: flex;
    align-items: center;
}

.card-heading>img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: contain;
}

.card-heading h2{
    margin: 0;
    font-size: 24px;
    margin-bottom: 8px;
}

.status{
    background: rgba(255,255,255,.7);
    padding: 6px 16px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 24px;
    justify-content: space-between;
    color: #0041ff;
    font-weight: 600;
    margin-top: 8px;
}

.circle{
    background: #0041ff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
}

.column{
    display: flex;
    flex-direction: column;
}

.column>p{
    margin: 4px;
    font-size: 18px;
}

.column>p:first-of-type{
    opacity: 0.5;
    font-size: 12px;
}

.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

.row{
    display: flex;
    justify-content: space-between;
}

.progress-container{
    width: 100%;
    border-radius: 8px;
    background: rgba(0,0,0,.6);
    height: 12px;
    overflow: hidden;
    margin-top: 8px;
}

.progress{
    height: 100%;
    width: 90%;
    background: white;
}


.low-opac{
    align-items: center;
    margin-bottom: 8px;
}

.low-opac p{
    color: rgba(255,255,255,.7);
    font-size: 14px;
    margin: 0;
}

.low-opac span{
    color: white;
    font-size: 20px;
}

.progress-info{
    margin-top: 16px;
}

.remaining{
    font-size: 14px;
}

.options{
    display: flex;
}

.option{
    margin: 0;
    padding: 8px 16px;
    border-radius: 8px;
    background: transparent;
    box-sizing: border-box;
    font-weight: bold;
    margin-right: 16px;
    transition: 250ms ease-in-out;
    cursor: pointer;
    user-select: none;
}

.active-option{
    background: white !important;
    color: black;
}

.ended{
    background: black;
    color: white
}

.upcoming{
    color: white;
    background: #0041ff;
}

.upcoming span{
    background: white;
}
.card-heading>div>div>img{
    height: 24px;
    width: 24px;
    padding: 4px;
    background: rgba(255,255,255,.15);
    box-sizing: border-box;
    border-radius: 50%;
    filter: brightness(10);
    margin-right: 6px;
}