body{
    margin: 0;
    background: rgb(0,0,0);
    color: #34e4da !important;
    user-select: none;
}

img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
    height: 100%;
    position: relative;
}

.title{
    position: absolute;
    left: 1%;
    top: 3%;
    transform: rotate(-18deg);
    font-weight: 400;
}

.box{
    position: absolute;
    display: block;
    text-align: center;
    cursor: pointer;
    max-width: 188px;
    transition: 250ms ease-in-out;
    padding: 8px 16px;
    border-radius: 12px;
}

.box:hover{
    background: rgba(255,255,255,.12);
}

.box p{
    font-size: 1.4rem;
    margin: 4px 0; 
    font-weight: bold;
}
.box:nth-of-type(1){
    transform: rotate(-10deg);
    top: 79%;
    left: 81%;
}
.box:nth-of-type(2){
    top: 80%;
    left: 47%;
}
.box:nth-of-type(3){
    top: 78%;
    left: 9%;
    transform: rotate(-13deg);
}
.box:nth-of-type(4){
    top: 28%;
    left: 10%;
    transform: rotate(-3deg);
}
.box:nth-of-type(5){
    top: 11.1%;
    left: 54.5%;
}

.global-container{
    width: 100%;
    height: 100%;
    max-width: 1460px;
    max-height: 821px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#disclaimer{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -80%);
    padding: 16px 40px;
    background: white;
    text-align: center;
    border-radius: 16px;
}
#disclaimer p{
    color: black;
}
#disclaimer button{
    margin-top: 8px;
    padding: 16px 32px;
    color: black;
    border: 1px solid black;
    outline: none;
    background: none;
    transition: 250ms ease-in-out;
    cursor: pointer;
}
#disclaimer button:hover{
    background: #0392cf;
    color: white;
    border: 1px solid white;
}
.clicked{
    opacity: 0;
    transform: translateY(-16px);
    z-index: -5 !important;
}

.warning{
    color: red !important;
}
.popup{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.62);
    z-index: 4;
    position: relative;
    transition: 150ms ease-in-out;
}

.disclaimer-toggle{
    position: absolute;
    left: 4%;
    top: 12%;
    transform: rotate(-18deg);
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .box{
        padding: 4px 8px;
    }
    .box p{
        font-size: 1.2rem;
        max-width: 150px;
    }
    .box:nth-of-type(1){
        transform: unset;
        top: 78%;
        left: 80%;
    }
    .box:nth-of-type(2){
        top: 79%;
        left: 48%;
    }
    .box:nth-of-type(4){
        top: 29%;
        left: 11%;
        transform: rotate(-3deg);
    }
    .box:nth-of-type(5){
        top: 13%;
        left: 55%;
    }
}
@media screen and (max-width: 992px){
    .box p{
        font-size: 16px;
        max-width: 140px;
    }
    .box{
        max-width: 140px;
    }
    .global-container{
        max-height: unset;
        max-width: 80%;
        transform: translate(-50%, -46%);
        position: absolute;
    }
    .title{
        text-align: center;
        left: unset;
        width: 100%;
        transform: none;
        top: 0;
        margin-top: 4px;
    }
    .disclaimer-toggle{
        transform: none;
        top: 5%;
        width: 100%;
        text-align: center;
        left: unset;
    }
    .box:nth-of-type(1){
        transform: unset;
        top: 9.5%;
        left: 37%;
    }
    .box:nth-of-type(2){
        top: 25%;
        left: 45%;
    }
    .box:nth-of-type(3){
        top: 48.2%;
        left: 42%;
        transform: unset;
    }
    .box:nth-of-type(4){
        top: 61%;
        left: 43%;
        transform: unset;
    }
    .box:nth-of-type(5){
        top: 74.6%;
        left: 35%;
    }
}

@media screen and (max-width: 520px){
    .disclaimer-toggle{
        text-align: end;
    }
    .box p{
        font-size: 13px;
        max-width: 110px;
    }
    .global-container{
        max-height: unset;
        max-width: 80%;
        top: 35%;
        transform: translate(-50%, -32%);
    }
    .box:nth-of-type(1){
        transform: unset;
        top: 7%;
        left: 25%;
    }
    .box:nth-of-type(2){
        top: 23%;
        left: 40%;
    }
    .box:nth-of-type(3){
        top: 47.2%;
        left: 34%;
        transform: unset;
    }
    .box:nth-of-type(4){
        top: 59%;
        left: 33%;
        transform: unset;
    }
    .box:nth-of-type(5){
        top: 75.6%;
        left: 27.5%;
    }
}