:root{
    --mainColor: black;
    --secondColor: white;
}

body{
    padding: 32px 0;
    font-family: Calibri, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 64px;
}
p{
    font-size: 1.3rem;
}
a{
    font-size: 18px;
}

.connect{
    padding: 4px 8px;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    background: none;
    border-radius: 4px;
    transition: 250ms ease-in-out;
    margin-left: auto;
    text-decoration: none;
}

.connect:hover{
    background: var(--mainColor);
    color: white;
}

.link{
    margin: 0 8px;
}
.link a{
    color: var(--mainColor);
    text-decoration: none;
    outline: none;
}
.active{
    font-weight: bold;
}

.brand{
    display: flex;
    align-items: center;
}
.brand img{
    height: 64px;
}


.homeImg{
    width: 90%;
    object-fit: contain;
}

.title{
    font-size: 1.45rem;
}


.claim{
    padding: 16px 16px;
    background: #323232;
    border-radius: 32px;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: var(--secondColor);
    font-size: 24px;
    float: right;
}

.card{
    border: 1px solid #dbdbdb;
    background: #fbfbfb;
    border-radius: 16px;
    padding: 16px 64px;
    margin: 24px 0 16px 0;
}

.stake{
    padding: 16px 40px;
    background: #323232;
    border-radius: 32px;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: var(--secondColor);
    font-size: 24px;
}

.cardImg{
    width: 100%;
    object-fit: contain;
}

.card-info{
    position: absolute;
    bottom: 5%;
}

.controls{
    display: flex;
    flex-direction: row;
    margin: 4px auto;
}

.controls p{
    width: max-content;
    padding: 0 8px;
}

.controls p:nth-of-type(2){
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carousel-indicators{
    position: absolute;
    bottom: -32px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;    
    counter-reset: number;
    list-style-type: none;
}
.carousel-indicators li{
    background: none;
    text-indent: unset;
}
.carousel-indicators li::before{
    counter-increment: number;
    content: counter(number)"\a0";
}

.cardDetails{
    padding: 16px 40px;
    position: relative;
}

.navbar-nav{
    margin-left: 64px;
}

.hero-text{
    padding: 16px 0;
}

@media screen and (max-width: 992px){
    .navbar-nav{
        margin-left: unset;
    }
    .hero-text{
        width: 90%;
    }
    .claim-box{
        margin-top: 16px;
    }
    .claim{
        float: none;
    }
    .cardDetails{
        text-align: center;
    }
    .card-info{
        position: unset;
    }
    .carousel-indicators{
        bottom: -16px;
    }
}