@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;800&display=swap');
body{
    margin: 0;
    scroll-behavior: smooth;
    background: #000;
    color: #fff;
    font-family: 'Syne', 'Roboto','Segoe UI', sans-serif, -apple-system, Oxygen;
    overflow-x: hidden;
    padding-bottom: 164px;
}



.hero{
    min-height: 100vh;
    background-image: url('/public/images/mmm/hero.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    text-align: center;
    margin-bottom: 96px;
}
.hero h1{
    margin: 24px 0;
    width: 650px;
    font-size: 2.6rem;

}
p{
    font-weight: 600;
    font-size: 1.6rem;
    width: 780px;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    line-height: 2.8rem;
}
.hero-button{
    padding: 16px 40px;
    background: #ffed90;
    border-radius: 6px;
    width: max-content;
    font-size: 2.5rem;
    color: #000;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    font-weight: bold;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 32px auto;
}

.reverse{
    flex-direction: row-reverse;
}

.row div{
    width: 40%;
    margin: 24px 8px;
    display: flex;
    flex-direction: column;
}

.row div:first-of-type{
    width: 35%;
}

.row div p{
    line-height: 3.4rem;
    width: 100%;
}
br{
    margin: 16px 0;
    display: block;
}


.row div img{
    width: 520px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.monkeys{
    margin: 32px auto;
    width: 150vw;
    transform: translateX(-100px);
}

.overflow-container{
    overflow-x: hidden;
    width: 100%;
}

.flexible-container{
    width: max-content;
    display: flex;
}

.flexible-container img{
    margin: 0 24px;
}

.special-button{
    border: 1px solid #ffed90;
    border-radius: 6px;
    padding: 8px 32px 8px 24px;
    width: max-content !important;
    transition: 250ms ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2.2rem;
}

.special-button:hover{
    color: black;
    background: #ffed90;
}

.special-button span{
    margin-left: 48px;
}



.roadmap{
    width: 100%;
    padding-top: 450px;
    background-image: url('/public/images/mmm/bgRoadmap.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 1080px 168px 620px;
    box-sizing: border-box;
    font-weight: 600;
}

.roadmap h1, .row h1 span, .welcome span{
    color: #ffed90;
}

.roadmap p{
    margin: 8px 0 24px;
    line-height: 4rem;
}

.roadmap div{
    width: 45%;
}

.welcome{
    width: 90%;
    margin: 64px auto;
}
.welcome img{
    width: 360px;
    object-fit: contain;
}

