@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;800&display=swap');
body{
    margin: 0;
    scroll-behavior: smooth;
    background: #000;
    color: #fff;
    font-family: 'Syne', 'Roboto','Segoe UI', sans-serif, -apple-system, Oxygen;
    overflow-x: hidden;
    padding-bottom: 164px;
}



.hero{
    min-height: 100vh;
    background-image: url('/public/images/mmm/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 96px 0 32px;
    text-align: center;
    margin-bottom: 96px;
}
.hero img{
    height: 152px;
}
.hero h1{
    margin: 24px 0;
    width: 680px;
    font-size: 2.2rem;
}
.hero p{
    margin: 16px auto;
}

.flexible-container img{
    width: 240px;
}



p{
    font-weight: 600;
    font-size: 1.6rem;
    width: 780px;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    line-height: 2.8rem;
}
.hero-button{
    margin-top: 48px !important;
    padding: 16px 40px;
    background: #ffed90;
    border-radius: 6px;
    width: max-content;
    font-size: 2.5rem;
    color: #000;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    transition: 250ms ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.hero-button:hover{
    color: #000;
    background: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 64px auto;
}

.reverse{
    flex-direction: row-reverse;
}

.row div{
    width: 40%;
    margin: 24px 8px;
    display: flex;
    flex-direction: column;
}

.row div:first-of-type{
    width: 38%;
}

.row div p{
    line-height: 30px;
    width: 100%;
    font-size: 25px;
}

.row h1{
    font-size: 1.9rem;
}

.row div img{
    width: 350px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.monkeys{
    margin: 32px auto;
    width: 150vw;
    transform: translateX(-100px);
}

.overflow-container{
    overflow-x: hidden;
    width: 100%;
}

.flexible-container{
    width: max-content;
    display: flex;
}

.flexible-container img{
    margin: 0 24px;
}

.special-button{
    border: 1px solid #ffed90;
    border-radius: 6px;
    padding: 8px 32px 8px 24px;
    width: max-content !important;
    transition: 250ms ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2.2rem;
}

.special-button:hover{
    color: black;
    background: #ffed90;
}

.special-button span{
    margin-left: 48px;
}



.roadmap{
    width: 100%;

    background-image: url('/public/images/mmm/bgRoadmap.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 640px 168px 620px;
    box-sizing: border-box;
    font-weight: 600;
}

.roadmap h1, .row h1 span, .welcome span{
    color: #ffed90;
}

.roadmap p{
    margin: 8px 0 24px;
    line-height: 3rem;
    font-size: 1.5rem;
    width: 100%;
}

.br{
    display: block;
    margin: 6px 0;
}

.roadmap div{
    width: 50%;
}

.welcome{
    width: 90%;
    margin: 96px auto 64px;
}
.welcome p{
    width: 28%;
}

.welcome img{
    width: 350px;
    object-fit: contain;
}

@media screen and (max-width: 1505px){
    .roadmap{
        padding-top: 250px;
        flex-direction: column;
        align-items: center;
    }
    .roadmap>div:first-of-type>h1{
        text-align: center;
    }
    .roadmap p{
        font-size: 1.3rem;
        line-height: 2rem;
    }
}
@media screen and (max-width: 1280px){
    .hero{
        padding-top: 48px;
    }
    .hero p, .welcome p{
        width: 80%;
    }
    .hero-button{
        width: max-content !important;
    }
    .roadmap{
        padding-top: 96px;
        background-position: center;
    }
    .roadmap div{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .row div img, .welcome img{
        width: 75%;
    }
    .row div, .row div:first-of-type{
        width: 80%;
    }
}

@media screen and (max-width: 740px){
    .hero h1{
        font-size: 1.8rem;
        width: 80%;
    }
    .hero p{
        font-size: 1.2rem;
        margin: 8px 0;
    }
    .hero-button{
        font-size: 1.8rem !important;
    }
}

@media screen and (max-width: 680px){
    .roadmap{
        padding: 96px 64px 48px;
    }
}