@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;800&display=swap');

@keyframes sliding{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-240px * 7))
    }
}

@keyframes colorChange{
    0%{
        background: #ffed90;
    }
    15%{
        color: #000;
    }
    25%{
        background: #64DFDF;
        color: #fff
    }
    50%{
        background: #6930C3;
        color: #fff
    }
    75%{
        background: #64DFDF;
        color: #fff
    }
    90%{
        color: #000;
    }
    100%{
        background: #ffed90;
    }
}



body{
    margin: 0;
    scroll-behavior: smooth;
    background: #000;
    color: #fff;
    font-family: 'Syne', 'Roboto','Segoe UI', sans-serif, -apple-system, Oxygen;
    overflow-x: hidden;
}

header{
    width: 100%;
    padding: 16px 32px;
    background: #070707;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

header>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    height: 40px;
    object-fit: contain;
    margin-right: 32px;
}

header>div:last-of-type{
    margin-left: auto;
}

header>div:last-of-type img{
    filter: grayscale();
    height: 20px;
    margin: 0;
    width: 20px;
}

header a{
    color: rgba(255,255,255,.4);
    transition: 250ms ease-in-out;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    margin: 4px 16px;
    font-size: 16px;
}

.link{
    padding: 4px 0;
    border-bottom: 1px solid rgba(255,255,255,.4);
}

.link:hover{
    color: rgba(255,255,255,.8);
    border-bottom: 1px solid rgba(255,255,255,.8);
    transform: scale(1.06);
    transform-origin: center;
}

footer{
    text-align: center;
    margin-top: 64px;
    padding: 16px 0;
    box-sizing: border-box;
    background: #070707;
}


footer p{
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 18px;
}

.hero{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 96px 0 32px;
    text-align: center;
    margin-bottom: 96px;
}
.hero::before{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    background-image: url('/public/assets/hero.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -64px;
}

.hero img{
    height: 196px;
}
.hero h1{
    margin: 24px 0;
    width: 680px;
    font-size: 2.2rem;
}
.hero p{
    margin: 16px auto;
    font-size: 1.4rem;
}





p{
    font-weight: 600;
    font-size: 1.6rem;
    width: 700px;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    line-height: 2.8rem;
}
.hero-button{
    margin-top: 48px !important;
    padding: 16px 40px;
    background: #ffed90;
    border-radius: 6px;
    width: max-content;
    font-size: 2.5rem !important;
    color: #000;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    transition: 250ms ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.hero-button:hover{
    color: #000;
    animation: colorChange 10s ease-in-out infinite;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 64px auto;
}

.reverse{
    flex-direction: row-reverse;
}

.row div{
    width: 40%;
    margin: 24px 8px;
    display: flex;
    flex-direction: column;
}

.row div:first-of-type{
    width: 38%;
}

.row div p{
    line-height: 30px;
    width: 578px;
    font-size: 25px;
}

.row h1{
    font-size: 1.9rem;
}

.row div img{
    width: 420px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.monkeys{
    margin: 32px auto;
    width: 150vw;

}

.overflow-container{
    overflow-x: hidden;
    width: 100%;
}

.flexible-container{
    width: calc(250px*14);
    display: flex;

}

.flexible-container img{
    margin: 0 24px;
    width: 250px;
    animation: sliding 40s linear infinite;
    background: white;
}

.special-button{
    border: 1px solid #ffed90;
    border-radius: 6px;
    padding: 8px 32px 8px 24px;
    width: max-content !important;
    transition: 250ms ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 28px !important;
    margin: 0 auto 96px !important;
    display: block;
}

.special-button:hover{
    color: black;
    background: #ffed90;
}

.special-button span{
    margin-left: 48px;
}



.roadmap{
    width: 100%;
    min-height: 1140px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1200px 168px 620px;
    box-sizing: border-box;
    font-weight: 600;
    position: relative;
}

.roadmap::before{
    background-image: url('/public/assets/bgRoadmap.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    content: "";
    height: 100%;
    width: 100%;
}

.roadmap h1, .row h1 span, .welcome span{
    color: #ffed90;
}

.roadmap h1{
    font-weight: 600;
    font-size: 32px;
}

.roadmap p{
    margin: 8px 0 24px;
    line-height: 56px;
    font-size: 24px;
    width: 100%;
    font-weight: 600;
}

.br{
    display: block;
    margin: 6px 0;
}
.roadmap>div>div:first-of-type>h1{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}

.roadmap>div{
    width: 80%;
}

.welcome{
    width: 100%;
    margin: 96px auto 64px;
    text-align: center;
}
.welcome p{
    width: 800px;
    font-size: 32px;
    margin: 32px auto 24px;
    text-align: start;
}

.bosses{
    width: 100%;
    margin: 16px auto 72px;
    position: relative;
}

.bosses-container{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.welcome img{
    width: 350px;
    object-fit: contain;
}

.bosses>span{
    width: 320px;
    height: 320px;
    border-radius: 50%;;
    background: white;
    position: absolute;

    top: 40px;
}

.bosses>span:nth-of-type(1){
    opacity: 0.2;
    left: -160px;
}
.bosses>span:nth-of-type(2){
    opacity: 0.4;
    left: 15%;
}
.bosses>span:nth-of-type(3){
    opacity: 0.6;
    right: 15%;
}
.bosses>span:nth-of-type(4){
    opacity: 0.8;
    right: -160px;
}


.newsletter{
    text-align: center;
}

.newsletter span{
    color: #ffed90;
}

.newsletter p{
    width: 100%;
}

form{

    display: flex;
    justify-content: space-around;
    margin: 24px 0 96px;
}
form>div{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

input{
    padding: 8px 24px;
    color: white;
    background: none;
    outline: none;
    font-size: 32px;
    font-family: 'Syne', 'Segoe UI', sans-serif;
    border: 1px solid white;
}


button[type='submit']{
    padding: 8px 40px;
    background: #ffed90;
    color: black;
    font-size: 32px;
    margin-left: -4px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

button[type='submit']:hover{
    background: white;
}

@media screen and (max-width: 1505px){
    .roadmap>div:first-of-type>h1{
        text-align: center;
    }
    .roadmap p{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .bosses>span{
        width: 280px;
        height: 280px;
        top: 56px;
    }
    .bosses>span:nth-of-type(2){
        left: 10%;
    }
    .bosses>span:nth-of-type(3){
        right: 10%;
    }
}

@media screen and (max-width: 1400px){
    .row div:first-of-type{
        width: 55%;
    }
}
@media screen and (max-width: 1280px){
    .hero{
        padding-top: 48px;
        min-height: 640px;
        background-size: cover;
    }
    .hero::before{
        background-size: cover;
    }
    .hero img{
        height: 116px;
    }
    .hero h1{
        font-size: 26px;
        margin-bottom: 16px;
    }
    .hero p{
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    .welcome p{
        width: 80%;
    }
    .hero-button{
        width: max-content !important;
        font-size: 1.5rem !important;
        margin-top: 24px !important;
    }

    .roadmap{
        background-position: center;
        position: relative;
        padding: 0;
    }
    .roadmap>div{
        position: absolute;
        top: 144px;
        left: 50%;
        transform: translateX(-50%);
    }
    .row div img{
        width: 360px;
    }
    .row div p{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .row{
        flex-direction: column;
    }
    .row div img, .welcome img{
        width: 75%;
    }
    .row div, .row div:first-of-type{
        width: 80%;
    }
    .welcome img{
        width: 240px;
        position: relative;
        z-index: 4;
    }
    .bosses>span{
        display: none;
    }
    .bosses-container{
        flex-direction: column;
    }
}

@media screen and (max-width: 785px){
    .hero p, .hero h1{
        width: 80%;
    }
}

@media screen and (max-width: 740px){
    .hero img{
        height: 80px
    }
    .roadmap>div>div:first-of-type>h1{
        font-size: 26px;
    }
    .roadmap h1{
        font-size: 24px;
    }
    .roadmap p{
        font-size: 16px;
    }
    .welcome h1{
        font-size: 32px;
    }
    .welcome p{
        font-size: 24px;
        line-height: 40px;
    }
    .bosses-container h1{
        font-size: 24px;
    }
    .bosses-container div{
        margin-bottom: 24px;
    }
    .newsletter h1{
        font-size: 26px;
    }
    .newsletter p{
        font-size: 20px;
    }
    form{
        width: 90%;
        margin: 48px auto 64px;
    }
    form>div{
        flex-direction: column;
        width: 100%;
    }
    form input{
        width: 100%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 727px){
    header div{
        margin-bottom: 16px;
    }
    header div:last-of-type{
        margin: 8px auto 16px
    }
}

@media screen and (max-width: 620px){
    .roadmap::before{
        background-size: cover;
    }
    .special-button span{
        display: none;
    }
    .special-button{
        word-wrap: break-word;
        width: 100% !important;
        text-align: center;
    }
}

@media screen and (max-width: 571px){
    header>a{
        margin: 0 auto 8px;
    }
}
